<div class="fn-c">
    <div class="info fn-l">
        <img src="<%= theme.weixin.qrcode %>" alt="微信二维码" />
        <p><%= theme.weixin.tip %></p>
    </div>

    <div class="detail fn-l">
        <p class="name">浪子神剑</p>
        <p class="location">广东-深圳</p>
        <p class="tel">MTg2MDMwNDEyNDM=</p>
        <p class="email">ODAyODU1ODZAcXEuY29t（你懂的）</p>
        <p class="love">热爱羽毛球、阅读、徒步、挑战</p>
    </div>
</div>

<div class="introduce">
    <p class="red">声明：本站所有文章均为本人原创，仅代表个人思想，与其他任何人或组织无关！</p>
    <h2>个人介绍</h2>
    <p>本人叫王剑，网名:浪子神剑（又称浪子、神剑），没有英文名。2010 年毕业于吉林工程技术师范学院，海南银。</p>
    <p>目前主要关注 WEB 前端和 Node.js 方面，擅长前端工程化解决方案。</p>
    <p>可以通过上面的联系方式我联系。</p>
    
    <h2>关于此博客</h2>
    <p>新博客改版成功！点击<a href="">查看更多 >></a>关于此次改版的辛酸历程！^_^</p>

    <h2>做过的项目</h2>
    <p><a href="https://github.com/haizlin/git-doc-zh-cn" target="_blank">翻译git帮助文档(2013,开源)</a>：翻译git的帮助文档（未完成）</p>
    <p><a href="#" target="_blank">海之林官网(2014)</a>：改版中</p>
    <p><a href="#" target="_blank">多听电台(2014)</a>：使用delphi开发windows下的电台客户端</p>
    <p><a href="#" target="_blank">音频同步工具(2014)</a>：使用delphi开发音频自动同步到服务端的工具</p>
    <p><a href="#" target="_blank">防伪码(2014)</a>：改版中</p>
    <p><a href="#" target="_blank">海之林前端规范(已开源，215)</a>：给海之林团队内部制定及使用的前端规范</p>
    <p><a href="#" target="_blank">微信版羽毛球计分(2015)</a>：使用angular1.5写的一个微信版的羽毛球计分功能</p>
    <p><a href="http://yirisancan.hzltest.com" target="_blank">一日三餐(2015)</a>：微信版的送菜商城</p>
    <p><a href="http://longxia.hzltest.com" target="_blank">小龙虾加盟网(2015)</a>：小龙虾加盟网</p>
    <p><a href="http://longxia.hzltest.com" target="_blank">微信提货及订单查询系统(2016)</a>：蓝驼铃新疆特产微信版提货及订单查询系统</p>
    <p><a href="http://longxia.hzltest.com" target="_blank">天然农汇微信商城(2016)</a>：天然农汇微信商城</p>
    <p><a href="http://longxia.hzltest.com" target="_blank">gulp缓存编译(2016)</a>：gulp缓存编译</p>
    <p><a href="http://longxia.hzltest.com" target="_blank">食品管理后台(2016)</a>：使用avalon开发的食品管理后台系统</p>
    <p><a href="#" target="_blank">Nodejs分页模块(2017)</a>：nodejs分页模块</p>
    <p><a href="https://github.com/haizlin/react-shop" target="_blank">react商城(2017)</a>：使用react，redux开发的商城系统，（用于商业）目前还未开源</p>
    <p><a href="#" target="_blank">牛数公众号(2017)</a>：基于goole开源的TensorFlow框架，利用人工智能深度学习股票，并给出量化指标，研究发现训练后的指标数据能在一定程度提前反映指数走势</p>
    <p><a href="https://github.com/haizlin/blog-theme" target="_blank">海之林博客(v3开源，2017)</a>：从原型图->设计图->切图->做成hexo模板->开源</p>
    <p><a href="#" target="_blank">翻译caddy文档(2017)</a>：基础的API已翻译完成，下一步进行高级使用翻译</p>
    <p><a href="#" target="_blank">pm2日志管理工具(2017)</a>：使用nodejs及websocket写的一个pm2日志管理工具</p>
    <p><a href="https://github.com/haizlin/koacrab" target="_blank" style="color: red;">KoaCrab框架(2017)</a>：基于Koa2的开发的前端高性能框架（准备开源...）</p>
    

    <p><a href="/works/index.html">详细查看更多 >></a></p>

    <h2>正在学习</h2>
    <p>近期学习方向：Python (人工智能)</p>
    <p>近期学习方向：Go学习</p>

    <h2>工作经历</h2>
    <ul>
        <li>2010.08 - 2012.12 多听网络科技</li>
        <li>2010.08 - 2012.12 多听网络科技</li>
        <li>2010.08 - 2012.12 多听网络科技</li>
        <li>2010.08 - 2012.12 多听网络科技</li>
    </ul>

    <p class="update">最后更新： 2017年10月01日 10:23</p>
</div>