<div class="fn-c">
    <div class="info fn-l">
        <img src="/images/qr_code.png" alt="微信二维码" />
        <p>(前端剑解 公众号)</p>
    </div>

    <div class="detail fn-l">
        <p class="name">浪子神剑</p>
        <p class="location">广东-深圳</p>
        <p class="tel">MTg2MDMwNDEyNDM=</p>
        <p class="email">ODAyODU1ODZAcXEuY29t（你懂的）</p>
        <p class="love">热爱羽毛球、阅读、徒步、挑战</p>
    </div>
</div>

<div class="introduce">
    <p class="red">声明：本站所有文章均为本人原创，仅代表个人思想，与其他任何人或组织无关！</p>
    <h2>个人介绍</h2>
    <p>本人叫王剑，网名:浪子神剑（又称浪子、神剑），没有英文名。2010 年毕业于吉林工程技术师范学院，海南银。</p>
    <p>目前主要关注 WEB 前端和 Node.js 方面，擅长前端工程化解决方案、前端性能优化及前端安全。</p>
    <p>可以通过上面的联系方式我联系。</p>
    
    <h2>关于此博客</h2>
    <p>新博客改版成功！</p>

    <h2>开源项目</h2>
    <p><a href="#" target="_blank">KoaCrab框架</a>：基于Koa2的前端高性能框架</p>
    <p><a href="#" target="_blank">一日三餐</a>：基于Koa2的前端高性能框架</p>

    <h2>其他项目</h2>
    <p><a href="#" target="_blank">Nodejs分页模块</a>：nodejs分页模块</p>

    <h2>正在学习</h2>
    <p>近期学习方向：Python (人工智能)</p>
    <p>近期学习方向：Go学习</p>

    <h2>工作经历</h2>
    <ul>
        <li>2010.08 - 2012.12 多听网络科技</li>
        <li>2010.08 - 2012.12 多听网络科技</li>
        <li>2010.08 - 2012.12 多听网络科技</li>
        <li>2010.08 - 2012.12 多听网络科技</li>
    </ul>

    <p class="update">最后更新： 2017年10月01日 10:23</p>
</div>