<section class="history-list">
    <p class="line"></p>
    <p class="time past">Past</p>
    <p class="time now">Now</p>
    <p class="circle-top"></p>
    <p class="circle-bottom"></p>
    <ul>
        <li class="fn-c">
            <p class="number fn-l"><span>1</span></p>
            <p class="text fn-l"><span>2010.09 - 毕业那年，使用wordpress搭建了人生中的第一个博客</span></p>
        </li>
        <li class="fn-c">
            <p class="number fn-l"><span>2</span></p>
            <p class="text fn-l"><span>2010.06 - 测试数据测试数据</span></p>
        </li>
        <li class="fn-c">
            <p class="number fn-l"><span>3</span></p>
            <p class="text fn-l"><span>2011.03 - 测试数据测试数据</span></p>
        </li>
        <li class="fn-c">
            <p class="number fn-l"><span>4</span></p>
            <p class="text fn-l"><span>2010.03 - 测试数据测试数据</span></p>
        </li>
        <li class="fn-c">
            <p class="number fn-l"><span>5</span></p>
            <p class="text fn-l"><span>2010.03 - 测试数据测试数据</span></p>
        </li>
    </ul>
</section>