<%- partial('_partial/head') %>
<body>
  <div class="wrap fn-c">
    <%- partial('_partial/main-left', null, {cache: !config.relative_link}) %>

    <%- partial('_partial/main-right', null, {cache: !config.relative_link}) %>
  </div>

  <script src="./js/jquery-3.2.1.min.js"></script>
  <script src="./js/layer-v3.1.0/layer/layer.js"></script>
  <script src="./js/blog.js"></script>
</body>
</html>