<section class="read-list">
    <ul class="fn-c">
        <li>
            <p class="cover"><a href="#"><img src="/images/book1.png" alt=""></a></p>
            <p class="title"><a href="#">HTML+CSS网页设计详解</a></p>
        </li>
        <li>
            <p class="cover"><a href="#"><img src="/images/book2.png" alt=""></a></p>
            <p class="title"><a href="#">深入理解PHP</a></p>
        </li>
        <li>
            <p class="cover"><a href="#"><img src="/images/book3.png" alt=""></a></p>
            <p class="title"><a href="#">响应式Web设计 HTML5和CSS3实战</a></p>
        </li>
        <li>
            <p class="cover"><a href="#"><img src="/images/book1.png" alt=""></a></p>
            <p class="title"><a href="#">HTML+CSS网页设计详解</a></p>
        </li>
        <li>
            <p class="cover"><a href="#"><img src="/images/book2.png" alt=""></a></p>
            <p class="title"><a href="#">深入理解PHP</a></p>
        </li>
        <li>
            <p class="cover"><a href="#"><img src="/images/book3.png" alt=""></a></p>
            <p class="title"><a href="#">响应式Web设计 HTML5和CSS3实战</a></p>
        </li>
        <li>
            <p class="cover"><a href="#"><img src="/images/book1.png" alt=""></a></p>
            <p class="title"><a href="#">HTML+CSS网页设计详解</a></p>
        </li>
    </ul>
</section>