<article class="article-tools">
    <div class="tools-list">
        <p class="title">必备工具</p>
        <ul class="fn-c">
            <li>
                <h3><span>Ps</span>Adobe Photoshop</h3>
                <p class="info">切图必备</p>
                <p class="view"><a href="#">下载</a></p>
            </li>
            <li>
                <h3><span>Ad</span>Adobe Dreamweaver</h3>
                <p class="info">切图必备</p>
                <p class="view"><a href="#">下载</a></p>
            </li>
            <li>
                <h3><span>No</span>Notepad++</h3>
                <p class="info">切图必备</p>
                <p class="view"><a href="#">下载</a></p>
            </li>
            <li>
                <h3>photoshop</h3>
                <p class="info">切图必备</p>
                <p class="view"><a href="#">下载</a></p>
            </li>
            <li>
                <h3>photoshop</h3>
                <p class="info">切图必备</p>
                <p class="view"><a href="#">下载</a></p>
            </li>
            <li>
                <h3>photoshop</h3>
                <p class="info">切图必备</p>
                <p class="view"><a href="#">下载</a></p>
            </li>
        </ul>
    </div>

    <div class="tools-list">
        <p class="title">前端手册</p>
        <ul class="fn-c">
            <li>
                <h3>photoshop</h3>
                <p class="info">切图必备</p>
                <p class="view"><a href="#">下载</a></p>
            </li>
            <li>
                <h3>photoshop</h3>
                <p class="info">切图必备</p>
                <p class="view"><a href="#">下载</a></p>
            </li>
            <li>
                <h3>photoshop</h3>
                <p class="info">切图必备</p>
                <p class="view"><a href="#">下载</a></p>
            </li>
            <li>
                <h3>photoshop</h3>
                <p class="info">切图必备</p>
                <p class="view"><a href="#">下载</a></p>
            </li>
            <li>
                <h3>photoshop</h3>
                <p class="info">切图必备</p>
                <p class="view"><a href="#">下载</a></p>
            </li>
            <li>
                <h3>photoshop</h3>
                <p class="info">切图必备</p>
                <p class="view"><a href="#">下载</a></p>
            </li>
        </ul>
    </div>
</article>