<section class="read-list">
    <ul class="fn-c">
        <li>
            <p><a href="#"><img src="./images/works1.png" alt=""></a></p>
            <p class="description">负责网站(译酷)的前端开发工作，数据采集及网站SEO推广优化，对爬虫原理、反爬虫系统及SEO的优化有了深入 ...</p>
            <p class="more"><span>查看详情</span></p>
        </li>
        <li>
            <p><a href="#"><img src="./images/works2.png" alt=""></a></p>
            <p class="description">在多听网络科技有限公司与团队一起讨论和研发后生网系统，个人在项目担任前端程序。</p>
            <p class="more"><span>查看详情</span></p>
        </li>
        <li>
            <p><a href="#"><img src="./images/works3.png" alt=""></a></p>
            <p class="description">提升PHP技能负责公司的管理后台系统、官网、wap站的开发</p>
            <p class="more"><span>查看详情</span></p>
        </li>
        <li>
            <p><a href="#"><img src="./images/works4.png" alt=""></a></p>
            <p class="description">使用delphi开发出音频上传工具，不再需要人员手动上传，全部由工具上传到服务器，类似百度的同步盘，使用 ...</p>
            <p class="more"><span>查看详情</span></p>
        </li>
        <li>
            <p><a href="#"><img src="./images/works5.png" alt=""></a></p>
            <p class="description">使用自已开发的node web框架(基于koa)，给系统添加了一层node中间层，使得前后端完全分离 ...</p>
            <p class="more"><span>查看详情</span></p>
        </li>
        <li>
            <p><a href="#"><img src="./images/works1.png" alt=""></a></p>
            <p class="description">在多听网络科技有限公司与团队一起讨论和研发后生网系统，个人在项目担任前端程序。</p>
            <p class="more"><span>查看详情</span></p>
        </li>
        <li>
            <p><a href="#"><img src="./images/works2.png" alt=""></a></p>
            <p class="description">在多听网络科技有限公司与团队一起讨论和研发后生网系统，个人在项目担任前端程序。</p>
            <p class="more"><span>查看详情</span></p>
        </li>
    </ul>
</section>