body,dd,dl,fieldset,form,h1,h2,h3,h4,h5,h6,img,input,legend,ol,p,select,td,textarea,th,ul{margin:0;padding:0}
audio,canvas,img,svg,video{max-width:100%;vertical-align:middle}
body{font-family:Roboto,sans-serif,"微软雅黑","Microsoft YaHei",arial,"Helvetica Neue";position:relative;background: #ebebeb;}
body,html{height:100%;width:100%;}
li,ul{list-style:none}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
th{text-align:inherit}
a{text-decoration:none;}
a:focus,a:hover{color:#cc752c;text-decoration:none}
img,input{vertical-align:middle;border:0 none}
em{font-style:normal}
/* 自定义滚动条 */
::-webkit-scrollbar {width: 8px;height: 8px;-webkit-appearance: none;}
::-webkit-scrollbar-track {background-color: inherit;}
::-webkit-scrollbar-thumb {border: 1px solid #fff;border-radius: 10px;background-color: #999;}
::-webkit-scrollbar-thumb:hover {background-color: #808080;}
::-webkit-scrollbar-thumb:active {background-color: #666;}
.fn-c{zoom:1}
.fn-c:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;zoom:1}
.fn-l{float:left !important}
.fn-r{float:right !important}
.fn-hide{display:none !important}
.tt-c{text-align:center !important}
.tt-l{text-align:left !important}
.tt-r{text-align:right !important}

@media screen and (max-width: 768px){
    .main-left {
        display: none;
        transition-duration: 0.3s;
    }
    .main-right{
        margin-left: 0px !important;
        transition-duration: 0.3s;
        width: 100% !important;
    }
    .main-right article{
        margin-right: 0px !important;
    }
    .sidebar{display: none;}
}

@media screen and (min-width: 768px) and (max-width: 1280px){
    .sidebar{display: none;}
    .main-right article{
        margin-right: 0px !important;
    }
}

@media only screen and (max-width: 320px) {
    .main-right .container{margin:0 !important;}
}

.wrap{}

.wrap-left{z-index: 101;}
.main-left{background: #2d3441;width: 320px;color: #fff;height: 100%;position: fixed;top:0px;left: 0px;bottom: 0px;overflow: hidden;z-index: 99;text-align: center;}
.main-left .left-list{position: relative;z-index: 1000;}
.main-left header{font-weight: bold;margin-top: 38px;}
.main-left header .nickname{font-size: 24px;font-weight: bold;margin-top: 24px;}
.main-left header .autograph{font-size: 16px;margin-top: 20px;}
.main-left .line{border-top:1px solid #192230;border-bottom:1px solid #404651;padding:0 8px;margin-top: 20px;margin-bottom: 14px;}
.main-left .search{width: 239px;height: 38px;margin:0 auto;margin-bottom: 20px;}
.main-left .search input{width: 229px;height: 38px;line-height: 38px;background: #404651;color: #52646c;font-size: 18px;padding:0 5px;}
.main-left .social{position: relative;}
.main-left .social a{margin-right: 23px;}
.main-left .social .weixin-qrcode{display: none;position: absolute;top: 46px;left:53px;background: #ebebeb;border-radius: 5px;padding:15px;color: #dd7b26;}
.main-left .social .weixin-qrcode p{margin-bottom: 10px;}
.main-left nav{margin-top: 26px;}
.main-left nav li{height: 48px;line-height: 48px;font-size: 18px;color: #fff;}
.main-left nav li a{color: #fff;}
.main-left nav li:hover{background: #ebebeb;}
.main-left nav li:hover a{color: #cc752c;}
.main-left nav li.current{background: #ebebeb;}
.main-left nav li.current a{color: #cc752c;}

.main-left footer{position: absolute;bottom: 22px;font-size: 14px;text-align: center;display: block;width: 100%;z-index: 1000;}
.main-left footer p{text-align: center;}
.main-left footer a{color: #dd7b26;}

.main-right{background: #ebebeb; margin-left: 320px;width: calc(100% - 320px);}
.main-right .banner img{width: 100%;}
.main-right .container{margin:27px 47px;}
.main-right article.article-list{/* width:calc(100% - 269px); */margin-right: 269px;}
.main-right article .article-wrap{background: #fff;padding:27px 43px 30px 37px;color:#040000;font-size: 14px;}
.main-right article .article-wrap h1{color:#2d3441; font-size: 24px;font-weight: normal;}
.main-right article .article-wrap .date{color: #666;margin-top: 10px;font-size: 14px;}
.main-right article .article-wrap .view{margin-left: 45px;}
.main-right article .article-wrap .content{margin-top: 35px;line-height: 24px;color: #040000;font-size: 14px;}
.main-right article.index-list li{margin-top: 27px;background: #fbfbfb;padding:25px 33px 0px 33px;}
.main-right article .title{font-size: 24px;}
.main-right article .title a{color: #dd7b26;}
.main-right article .title a:hover{font-weight:bold;text-decoration: underline;}
.main-right article .description{font-size: 14px;color: #040000;line-height: 26px;margin-top: 24px;margin-bottom: 20px;}
.main-right article .description span{margin-left: 24px;}
.main-right article .description span a{color: #295dab;}
.main-right article .tag{font-size: 14px;color: #fff;border-top: 1px solid #d1d6d6;line-height: 38px;}
.main-right article .content-tag{margin-top: 37px;margin-bottom: 28px; border:none;}
.main-right article .tag a{background: #ea8b4c;padding:0 9px;text-align: center;height: 22px;line-height: 22px;display: inline-block;border-radius: 10px;margin-right: 10px;color: #fff;}
.main-right article .tag a:nth-child(1){background: #ea8b4c;}
.main-right article .tag a:nth-child(2){background: #4f8ecb;}
.main-right article .tag a:nth-child(3){background: #adcb4f;}
.main-right article .tag a:nth-child(4){background: #cb664f;}
.main-right article .tag a:nth-child(5){background: #814fcb;}
.main-right article .tag a:nth-child(6){background: #cb4fb8;}
.main-right article .tag-date{font-size: 14px;color: #666;background: none;}
.main-right article .page{margin: 50px 0;color: #434e60;font-size: 12px;text-align: center;}
.main-right article .page a{display: inline-block;margin: 0 8px;color: #434e60;}
.main-right article .page .current{height: 24px;line-height: 24px;text-align: center;width: 24px;background: #434e60;color: #fff;}
.main-right article .share{text-align: right;height: 16px;margin-bottom: 30px;}
.main-right article .share .jiathis_style{display: inline-block;}
.main-right article .prev-next a{color:#434e60;}

/* 时间归档 */
.main-right .archives .times-list{margin-bottom: 30px;background: #fff;padding:9px 0 18px 29px;}
.main-right .archives .times-list .year{color: #dd7b26;font-size: 36px;margin-right: 32px;}
.main-right .archives .times-list ul{width:calc(100% - 130px);}
.main-right .archives .times-list li{border-bottom: 1px solid #d1d6d6;clear: both;padding:15px 0;}
.main-right .archives .times-list li a{font-size: 18px;color: #666;width:calc(100% - 120px);display: inline-block;line-height: 24px;}
.main-right .archives .times-list li a:hover{color: #dd7b26;}
.main-right .archives .times-list li span{font-size: 14px;color: #666;float: right;background: url(../images/btn_date.png) no-repeat center left;padding-left: 32px;margin-right: 29px;display: inline-block;}

/* tags */
.main-right .article-tags{background: #fff;padding:46px 85px 59px 63px;}
.main-right .article-tags a{margin-right: 18px;margin-bottom: 30px;border-radius: 10px;color: #fff;padding:5px 12px;font-size: 16px;background: #ea8b4c;display: inline-block;}
.main-right .article-tags a:hover{color:#ccc;}
.main-right .article-tags .size1{background: #ea8b4c;font-size:20px;}
.main-right .article-tags .size2{background: #4f8ecb;font-size:24px;}
.main-right .article-tags .size3{background: #adcb4f;font-size:14px;}
.main-right .article-tags .size4{background: #cb664f;font-size:26px;}
.main-right .article-tags .size5{background: #814fcb;font-size:18px;}
.main-right .article-tags .size6{background: #cb4fb8;font-size:16px;}
.main-right .article-tags .size7{background: #62b074;font-size:24px;}
.main-right .article-tags .size8{background: #90beea;font-size:18px;}
.main-right .article-tags .size9{background: #a57be2;}
.main-right .article-tags .size10{background: #63809d;font-size:20px;}
.main-right .article-tags .size11{background: #3fa055;font-size:22px;}

/* 工具资源 */
.main-right .article-tools{}
.main-right .article-tools .tools-list{background: #fff;margin-bottom: 26px;padding:20px 45px;}
.main-right .article-tools .title{font-size:18px;color: #dd7b26;margin-bottom: 25px;font-weight: bold;}
.main-right .article-tools li{float: left;margin-right: 30px;border:1px solid #e5e5e5;border-radius: 5px;padding:10px 10px 4px 10px;margin-bottom: 20px;}
.main-right .article-tools li h3{font-size: 18px;color: #295dab;}
.main-right .article-tools li .info{font-size: 14px;color: #666;margin:10px 0;}
.main-right .article-tools li .view{font-size: 12px;text-align: right;}
.main-right .article-tools li .view a{color: #fff;background: #5791e6;padding:5px;border-radius: 10px;}

/* 历史记录 */
.main-right .history-list{margin-bottom: 155px;font-size: 14px;color: #404651;position: relative;margin-left: 17px;margin-top: 34px;}
.main-right .history-list ul::before{content: '';position: absolute;display: block;width: 4px;background: #e2e2e3;top: 63px;bottom: 50px;margin-left: 10px;}
.main-right .history-list li{margin-bottom: 20px;height: auto;position: relative;}
.main-right .history-list .number{background: #ebebeb;color: #737881;display: block;width: 32px;height: 32px;-webkit-background-clip: padding-box;-moz-background-clip: padding;background-clip: padding-box;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;text-align: center;border: 4px solid #e4e4e5;line-height: 32px;font-size: 15px;position: absolute;top: 50%;margin-top: -20px;margin-left: -9px;}
.main-right .history-list .number span{}
.main-right .history-list .text{background: #dcdcdb;padding: 20px;margin-left: 65px;border-radius: 5px;position: relative;}
.main-right .history-list .text span{}
.main-right .history-list .text::after{content: '';display: block;position: absolute;width: 0;height: 0;border-style: solid;border-width: 9px 9px 9px 0;border-color: transparent #dcdcdb transparent transparent;left: 0;top: 50%;margin-top: -9px;margin-left: -9px;}

/* 关于 */
.main-right .container-about .info{margin-left: 73px;}
.main-right .container-about .detail{margin-left: 51px;font-size: 18px;color: #2d3441;line-height: 36px;}
.main-right .container-about .detail a{color:#407094;}

/* 子导航 */
.main-right section{padding: 24px 48px 0px 42px;}
.main-right section .sub-nav{ border-bottom: 1px solid #bebebe;text-align: right;padding:12px 0;}
.main-right section .sub-nav a{ border-right: 1px solid #72767c;padding:0 23px;color:#2d3441; }
.main-right section .sub-nav a:hover{color:#cc752c;}
.main-right section .sub-nav .current{color:#cc752c;}
.main-right section .sub-nav a:last-child{border:none;}

/* 读书列表 */
.main-right .read-list{}
.main-right .read-list li{float: left;width: 252px;height: 335px;font-size: 14px;background: #fff;margin-right: 52px;margin-bottom: 20px;text-align: center;}
.main-right .read-list li a{color: #2d3441;}
.main-right .read-list li .title{margin-top: 30px;}

.main-right .sidebar{width: 252px;ba}
.main-right .sidebar aside{background: #fff;margin-bottom: 22px;}
.main-right .sidebar aside .title{height: 40px;line-height: 40px;padding-left: 12px;border-bottom: 1px solid #cbcbcb;font-size: 14px;color: #2d3441;font-weight: bold;}
.main-right .sidebar aside ul{padding:12px 8px 10px 14px;}
.main-right .sidebar aside li{line-height: 24px;}
.main-right .sidebar aside a{color: #2d3441;font-size: 12px;}
.main-right .sidebar aside a:hover{color: #dd7b26;}

.main-right footer{background: #434e60;padding:19px 70px;font-size: 16px;color: #fff;}
.main-right footer em{color: #eb8d50;}

.space{
    -webkit-animation: slide 8s linear infinite;
    -moz-animation: slide 8s linear infinite;
    -o-animation: slide 8s linear infinite;
    -ms-animation: slide 8s linear infinite;
    animation: slide 8s linear infinite;
    background-image: url(../js/stars.svg);
    background-position: 0px 0px;
    -webkit-background-size: 320px;
    -moz-background-size: 320px;
    background-size: 320px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 320px;
    z-index: 100; 
}

@keyframes slide {
    from { background-position: 0 0; }
    to { background-position: 0 100%; }
}

@-moz-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: 0 100%; }
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: 0 100%; }
}

@-o-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: 0 100%; }
}

