<footer class="fn-c">
    <span class="fn-l">您好，您是本站点的第 <em id="busuanzi_value_site_uv"></em> 位访客，祝您生活工作愉快!</span>
    <span class="fn-r">Copyright © haizlin 2010-2018         ICP备案证: 粤ICP备17162096号-3</span>
</footer>