<div class="main-right fn-r">
    <%- partial('_partial/banner', null) %>
    
    <div class="container fn-c">
        <%- body %>
    </div>

    <%- partial('_partial/copyright', null) %>

    <%- partial('_partial/return-top', null) %>
</div>