<!-- <aside id="sidebar"<% if (theme.sidebar === 'bottom'){ %> class="outer"<% } %>>
<% theme.widgets.forEach(function(widget){ %>
<%- partial('_widget/' + widget) %>
<% }) %>
</aside> -->

<div class="sidebar fn-r">
    <aside>
        <p class="title">最新文章</p>
        <ul>
            <li><a href="./content.html">Linux之间常用共享服务NFS</a></li>
            <li><a href="./content.html">Linux共享服务Samba配置</a></li>
            <li><a href="./content.html">由向Request Headers添加信息想到 ...</a></li>
            <li><a href="./content.html">什么是js深拷贝和浅拷贝及其实现方式</a></li>
            <li><a href="./content.html">前端浏览器缓存及代码部署</a></li>
            <li><a href="./content.html">由iPhoneX适配问题想到的</a></li>
            <li><a href="./content.html">css开发技巧二之常见css题目</a></li>
            <li><a href="./content.html">HTML5的WebSocket的介绍及应用</a></li>
            <li><a href="./content.html">html5之sse服务器发送事件EventSource...</a></li>
            <li><a href="./content.html">canvas绘制圆角环形图</a></li>
        </ul>
    </aside>

    <aside>
        <a href="#"><img src="/images/ad.png" alt="广告"></a>
    </aside>

    <aside>
        <p class="title">文章标签</p>
        <p class="tag-list" id="tags-list">
            <a href="./list-search.html">Nodejs</a>
            <a href="./list-search.html">Linux</a>
            <a href="./list-search.html">PHP</a>
            <a href="./list-search.html">Javascript</a>
            <a href="./list-search.html">HTML5</a>
            <a href="./list-search.html">前端开发</a>
            <a href="./list-search.html">实用技巧</a>
            <a href="./list-search.html">工具</a>
            <a href="./list-search.html">Linux</a>
            <a href="./list-search.html">PHP</a>
            <a href="./list-search.html">Javascript</a>
            <a href="./list-search.html">HTML5</a>
            <a href="./list-search.html">前端开发</a>
            <a href="./list-search.html">实用技巧</a>
            <a href="./list-search.html">工具</a>
            <a href="./list-search.html">Linux</a>
            <a href="./list-search.html">PHP</a>
            <a href="./list-search.html">Javascript</a>
            <a href="./list-search.html">HTML5</a>
            <a href="./list-search.html">Nodejs</a>
            <a href="./list-search.html">Linux</a>
            <a href="./list-search.html">PHP</a>
            <a href="./list-search.html">Javascript</a>
            <a href="./list-search.html">HTML5</a>
            <a href="./list-search.html">前端开发</a>
            <a href="./list-search.html">实用技巧</a>
            <a href="./list-search.html">工具</a>
            <a href="./list-search.html">Linux</a>
            <a href="./list-search.html">PHP</a>
            <a href="./list-search.html">Javascript</a>
            <a href="./list-search.html">HTML5</a>
            <a href="./list-search.html">前端开发</a>
            <a href="./list-search.html">实用技巧</a>
            <a href="./list-search.html">工具</a>
            <a href="./list-search.html">Linux</a>
            <a href="./list-search.html">PHP</a>
            <a href="./list-search.html">Javascript</a>
            <a href="./list-search.html">HTML5</a>
        </p>
    </aside>
</div>