<section>
    <nav class="sub-nav">
        <%
            var category = '';
            if(page.archive){
                category = 'archives';
            }else if(is_post() && page.categories['data'].length > 0){
                category = page.categories['data'][0].name
            }else{
                category = page.category || page.layout;
            }
        %>
        <%- sub_nav(category , theme.sub_menu) %>
    </nav>
</section>