<section>
    <nav class="sub-nav">
        <a href="/about/" class="current">关于我</a>
        <a href="/works/">开源项目</a>
        <a href="/read/">我的读书</a>
        <a href="/history/">博客历史</a>
    </nav>
</section>